**/node_modules
**/.next
**/dist
**/build_temp
**/.turbo
coverage
infra
docker/nginx-proxy/data
docker/nginx-proxy/letsencrypt
docker-compose*
.git
.github
**/.log
**/.env
**/.env.*
env
**/*.pem
**/*.key
**/generated
cookies.txt
.production
.backups

**/__pycache__
