@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@seek/ui/styles.css";

body {
  color: var(--seek-color-foreground);
  background: var(--seek-color-background);
  font-family: var(--seek-font-sans);
}
